body {
    background-color: rgba(253, 109, 57, 0.66);
}

table {
    max-width: 100%;
    margin: auto;
}

table td {
    width: 100px;
    height: 100px;
    
}

button {
    width: 90%;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 1px 2px 8px black;
}

#btn-red {
    background-color: red;
    border: 0;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition-duration: .5s;
}

#btn-blue {
    background-color: blue;
    border: 0;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition-duration: .5s;
}

#btn-yellow {
    background-color: yellow;
    border: 0;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition-duration: .5s;
}

#btn-orange {
    background-color: orange;
    border: 0;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition-duration: .5s;
}

#btn-green {
    background-color: green;
    border: 0;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition-duration: .5s;
}

/* Color class */

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

/* Bottom button */

#bottom-button-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-button {
    height: 85%;
    width: 5.75%;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: .5s;
}

#bottom-button:hover {
    background-color: rgb(59, 59, 59);
    transition-duration: .5s;
}

.rainbow {
    animation: rainbow 700ms linear infinite;
}

@keyframes rainbow {
    0% {
        background-color: red;
        transition-duration: .5s;
    }
    20% {
        background-color: blue;
    }
    40% {
        background-color: rgba(253, 109, 57, 0.66);
    }
    60% {
        background-color: orange;
    }
    80% {
        background-color: green;
    }
    100% {
        background-color: yellow;
    }
}